*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 80%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.container h1 {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: capitalize;
}

.container h1 span {
    font-weight: bolder;
}

.nomeCor {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    width: 460px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.listaDeCor{
    display: flex;
    flex-direction: column-reverse;

}

.liColors {
    padding: 5px;
    list-style: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;

}

@media (max-width: 768px) {
    .container h1 {
        font-size: 35px;
    }
    
    .nomeCor {
        font-size: 18px;
    }
    
    .btn {
        width: 270px;
        padding: 5px;
        font-size: 16px;
    }
    
    .liColors {
        padding: 5px;
        font-size: 16px;
    }
}